.logo_img{
    max-width: 100%;
    width: 270px;
}
.cover{
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: blue;
    z-index: 0;
    background-image: url(../assets/dots.png), url(../assets/lines.png);
    background-blend-mode: exclusion;
    filter: grayscale(100%);
    background-size: 100px, 200px;
}
.midEle{
    display: flex;
    -webkit-align-items: center;
}

@media only screen and (max-width : 600px) {
    .midEle{
        display: block;
    }
}