.team img{
    object-fit: cover;
    width: 100%;
    background: linear-gradient(180deg,rgba(255,18,68,0) 0,rgba(21,24,63,.8) 90%);
}
.team .card-image:hover{
    background: linear-gradient(180deg,rgba(255,18,68,0) 0,rgba(21,24,63,.8) 90%);
}
.card-image{
    background: linear-gradient(180deg,rgba(255,18,68,0) 0,rgba(21,24,63,.8) 90%);
}


p,a,h1,h2,h3,h4 {
	margin: 0;
	padding: 0;
}

.team {
	font-family: "Poppins", sans-serif !important;
	padding: 80px 0;
}

.team .header-section {
	margin-bottom: 50px;
}

.team .header-section .small-title {
    margin-bottom: 25px;
	font-size: 16px;
    font-weight: 500;
    color: #3e64ff;
}

.team .header-section .title {
    font-weight: 700;
    font-size: 45px;
}

.team .single-person {
	margin-top: 30px;
	padding: 30px;
	background-color: #f6f9ff;
	border-radius: 5px;
}

.team .single-person:hover {
	background: linear-gradient(to right, #959595, #003a46);
}

.team .single-person .person-image {
    position: relative;
    margin-bottom: 50px;
    border-radius: 50%;
    border: 4px dashed transparent;
    transition: padding .3s;
}

.team .single-person:hover .person-image {
	padding: 12px;
    border: 4px dashed #fff;
}

.team .single-person .person-image img {
	width: 100%;
    border-radius: 50%;
}

.team .single-person .person-image .icon {
	position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: linear-gradient(to right, #2ef9b6, #02ca2b);
    color: #fff;
    border-radius: 50%;
    font-size: 24px;
}

.team .single-person:hover .person-image .icon {
	background: none;
	background-color: #fff;
	color: #00aa80;
}

.team .single-person .person-info .full-name {
	margin-bottom: 10px;
	font-size: 28px;
    font-weight: 700;
}

.team .single-person .person-info .speciality {
    text-transform: uppercase;
    font-size: 14px;
    color: #016cec;
}

.team .single-person:hover .full-name,
.team .single-person:hover .speciality {
	color: #fff !important;
}