<div class="parallax-container valign-wrapper" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="section no-pad-bot" style="width: 100%;">
        <div class="container">
          <div class="row center white-text">
            <h1 class="header col s12 light" style="font-size: 3rem;"><b>Organinsing Team</b></h1>
          </div>
        </div>
      </div>
    <div class="parallax"><img src="assets/photo-1510146758428-e5e4b17b8b6a.webp"></div>
</div>
<div style="position: fixed; height: 100%; width: 100%; top: 0; z-index: -2; background-color: bisque;"></div>
<div class="container team">
  <div class="row">
    <div class="col s12 m6 l3" *ngFor="let person of team">
      <div class="single-person">
        <div class="person-image">
          <img src="assets/team/{{person['img']}}" alt="">
          <a href="https://api.whatsapp.com/send/?phone=+91{{person['phone']}}" target="_blank">
            <span class="icon">
              <i class="fab fa-whatsapp"></i>
            </span>
          </a>
        </div>
        <div class="person-info">
          <h3 class="full-name">{{person['name']}}</h3>
          <span class="speciality">{{person['position']}}</span>
        </div>
      </div>
    </div>
  </div>
</div>