<div class="parallax-container" style="background-color: rgba(0, 0, 0, 0.6); height: 200px;">
    <div class="section no-pad-bot" style="width: 100%; position: absolute; bottom: 0;">
        <div class="container">
          <div class="row center white-text">
            <h1 class="header col s12 light" style="font-size: 3rem;"><b>{{event['name']}}</b></h1>
          </div>
        </div>
      </div>
    <div class="parallax"><img src="assets/events-cover.webp"></div>
</div>
<div style="position: fixed; height: 100%; width: 100%; top: 0; z-index: -2; background-color: bisque;"></div>
<div class="container" style="margin-top: 50px ;">
    <div class="center-align" style="padding: 30px 0;">
        <h2 style="text-align: justify;">
            {{event['desc']}}
        </h2>
        <button mat-raised-button color="basic">Register Now</button>
    </div>
    <div class="row">
        <div class="col s12 m7 l8">
            <div style="padding: 30px 0;" *ngIf="event['guest']">
                <b><h1>Guest Details:</h1></b>
                <ul style="margin-left: 30px;" *ngFor="let item of event['guest']">
                    <li>{{item}}</li>
                </ul>
            </div>
            <div style="padding: 30px 0;" *ngIf="event['guidelines']">
                <b><h1>Guidelines:</h1></b>
                <ul style="margin-left: 30px;" *ngFor="let item of event['guidelines']">
                    <li>{{item}}</li>
                </ul>
            </div>
            <div style="padding: 30px 0;" *ngIf="event['conduct']">
                <b><h1>Code of Conduct:</h1></b>
                <ul style="margin-left: 30px;" *ngFor="let item of event['conduct']">
                    <li>{{item}}</li>
                </ul>
            </div>
            <div style="padding: 30px 0;" *ngIf="event['heads']">
                <b><h1>Event Heads:</h1></b>
                <ul style="margin-left: 30px;" *ngFor="let item of event['heads']">
                    <li style="list-style-type: cambodian !important;">{{item['name']}} <a href="https://api.whatsapp.com/send/?phone=+91{{item['contact']}}" target="_blank">+91 {{item['contact']}}</a></li>
                </ul>
            </div>
        </div>
        <div class="col s12 m5 l4">
            <img src="{{event['img']}}" alt="" width="100%">
        </div>
    </div>
</div>
<div class="container" style="height: 50px;"></div>