<div class="parallax-container valign-wrapper" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="section no-pad-bot" style="width: 100%;">
        <div class="container">
          <div class="row center white-text">
            <h1 class="header col s12 light" style="font-size: 3rem;"><b>Sponsor</b></h1>
          </div>
        </div>
      </div>
    <div class="parallax"><img src="https://cdn-technunctus.azureedge.net/assets/sponsor-cover.webp"></div>
</div>
<div class="container center-align" style="margin-top: 20px; margin-bottom: 200px;">
  <div class="row">
    <div class="col m4 offset-m4 s12" style="padding: 0 40px;">
      <a href="https://kartavyaglobal.org" target="_blank" rel="noopener noreferrer">
      <img src="assets/sponsor/kartavya.jpg" alt="" srcset="" style="width: 100%;">
      </a>
      <h2>Title Sponsor</h2>
    </div>
  </div>
  <h1 style="font-size: 2rem;margin-top: 40px;">Interested in Sponsoring Technunctus 2021 Checkout <a href="assets/Sponsorship Brochure- tech'21.pdf" target="_blank"> Sponsorship Brochure </a></h1>
</div>