<div class="gradBg" style="position: fixed; height: 100%; width: 100%; top: 0;">
</div>
<div class="cover" #parallax></div>
<div  style="height: 100vh; width: 100%; position: fixed;">
    <div>
        <ul class="cb-slideshow" style="z-index:-1;">
            <li><span>Image 01</span><div><!--<h3>text-1</h3>--></div></li>
            <li><span>Image 02</span><div><!--<h3>text-1</h3>--></div></li>
            <li><span>Image 03</span><div><!--<h3>text-1</h3>--></div></li>
            <li><span>Image 04</span><div><!--<h3>text-1</h3>--></div></li>
            <li><span>Image 05</span><div><!--<h3>text-1</h3>--></div></li>
            <li><span>Image 06</span><div><!--<h3>text-1</h3>--></div></li>
        </ul>
    </div>
</div>
<div class="valign-wrapper homeMob"  style="height: 100vh; width: 100%; z-index: 2; position: relative;;">
    <div class="container">
        <div class="row valign-wrapper" style="width: 100%; margin: 0; position: relative;">
            <a href="https://kartavyaglobal.org" target="_blank" rel="noopener noreferrer">
                <img src="assets/sponsor/kartavya.jpg" alt="" srcset="" height="80px">
            </a>
            <h2 class="white-text" style="position: absolute; bottom: 0; left: 90px;" ><i>presents</i></h2>
        </div>
        <div aTilt [tiltSettings]="tiltSettings">
            
            <div class="row midEle" style="height: 100%; width: 100%;">
                <div class="col s12 m4 l5 center">
                    <img src="https://cdn-technunctus.azureedge.net/assets/technunctus_logo.png" alt="logo" class="logo_img">
                </div>
                <div class="col s12 m8 l7 white-text" style="text-align: center;">
                    <h3 style="font-size: 2.92rem; line-height: 110%; margin: 1.9466666667rem 0 1.168rem 0">Technunctus 2021</h3>
                    <h4 style="font-size: 2.28rem; line-height: 110%; margin: 1.52rem 0 0.912rem 0">17th & 18th April</h4>
                </div>
            </div>
        </div>
        <div class="row valign-wrapper" style="width: 100%; margin: 0; position: relative;">
            <div class="row" style="position: absolute; right: 0;height: 100%;">
                <div class="col">
                    <h2 class="white-text"><i>powered by</i></h2>
                    <a href="https://www.ultimatevirtualevent.com/" target="_blank" rel="noopener noreferrer">
                        <img src="assets/sponsor/venture_comets.png" alt="" srcset="" height="80px">
                    </a>
                </div>
                <div class="col">
                    <h4 class="white-text"><i>Co powered by</i></h4>
                    <a href="https://herody.in" target="_blank" rel="noopener noreferrer">
                        <img src="assets/sponsor/Herody.png" alt="" srcset="" height="50px">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>