<div class="valign-wrapper" style="height: 100vh; width: 100%; z-index: 2; position: relative;;">
    <div class="container">
        <div class="row midEle" aTilt [tiltSettings]="tiltSettings">
            <div class="col s12 m4 l5 center">
                <img src="./assets/technunctus_logo.png" alt="logo" class="logo_img">
            </div>
            <div class="col s12 m8 l7 white-text" style="text-align: center;">
                <h3 style="font-size: 2.92rem; line-height: 110%; margin: 1.9466666667rem 0 1.168rem 0">Technunctus 2021</h3>
                <h4 style="font-size: 2.28rem; line-height: 110%; margin: 1.52rem 0 0.912rem 0">17th & 18th April</h4>
            </div>
        </div>
    </div>
</div>
