<div class="valign-wrapper" style="height: 100vh; width: 100%; z-index: 2; position: relative;;">
    <div class="container">
        <div class="row midEle" id="tilt">
            <div class="col s12 m4 l5 center">
                <img src="./assets/technunctus_logo.png" alt="logo" class="logo_img">
            </div>
            <div class="col s12 m8 l7 white-text" style="text-align: center;">
                <h3>Technunctus 2021</h3>
                <h4>17th & 18th April</h4>
            </div>
        </div>
    </div>
  </div>