.gradBg{
    background: linear-gradient(45deg, rgba(75, 67, 3, 0.2) 0%, rgba(245, 43, 43, 0.1) 96%, rgba(102, 133, 133, 0.13) 100%);
}
.nav{
    width: 100%;
    height: 60px;
    padding-left: 10%;
    padding-right: 10%;
    position: fixed;
    z-index: 10;
    clip-path: polygon(5% 0, 10% 100%, 90% 100%, 95% 0);
    border: whitesmoke ;
    border-style: solid;
    border-width: 2px;
    background-color: black;
}
.navText{
    text-align: center;
}
nav ul a:hover{
    color: wheat;
}