
<div class="navbar-fixed " style="position: fixed;">
  <nav class="black" role="navigation">
      <div class="nav-wrapper container">
          <a id="logo-container" href="./" class="brand-logo" style="font-size:20px; height: 100%;">
              <div class="row valign-wrapper" style="height: 100%;">
                  <div class="col logo" style="height: 100%;">
                      <img src="./assets/technunctus_logo.png" style="height: 80%;margin-top: 10%;">
                  </div>
                  <div class="col">
                      <h5 style="font-size: 20px; margin: 0;">Technunctus</h5>
                  </div>
              </div>
          </a>
          <ul class="right hide-on-med-and-down ">
              <li><a href="./about.html">Events</a></li>
              <li><a href="./domains.html">Team</a></li>
              <li><a href="./rules.html">Sponsors</a></li>
              <li><a href="./contact.html">Contact</a></li>
              <li><a href="./contact.html">FAQs</a></li>
          </ul>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons black-text">menu</i></a>
      </div>
  </nav>
</div>
<div class="gradBg" style="position: fixed; height: 100%; width: 100%; top: 0;">
</div>
<router-outlet></router-outlet>



