
<div class="navbar-fixed " style="position: fixed;">
  <nav class="black" role="navigation">
      <div class="nav-wrapper container">
          <a id="logo-container" routerLink="./" class="brand-logo" style="font-size:20px; height: 100%;">
              <div class="row valign-wrapper" style="height: 100%;">
                  <div class="col logo" style="height: 100%;">
                      <img src="https://cdn-technunctus.azureedge.net/assets/technunctus_logo.png" style="height: 80%;margin-top: 10%;">
                  </div>
                  <div class="col">
                      <h5 style="font-size: 20px; margin: 0;">Technunctus</h5>
                  </div>
              </div>
          </a>
          <ul class="right hide-on-med-and-down ">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/Events">Events</a></li>
                <li><a routerLink="/Team">Team</a></li>
                <li><a routerLink="/Sponsor" >Sponsors</a></li>
          </ul>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons white-text">menu</i></a>
      </div>
  </nav>
</div>
<ul id="nav-mobile" class="sidenav sidenav-close" style="padding-top: 30px;">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/Events">Events</a></li>
    <li><a routerLink="/Team">Team</a></li>
    <li><a routerLink="/Sponsor" >Sponsors</a></li>
</ul>

<router-outlet></router-outlet>

<footer class="page-footer black darken-2 z-depth-3" style="position:absolute; z-index: 1000; width:100%">
    <div class="container white-text">
        <div class="row" style="position: relative;">
            <div class="col s12 m8">
                <h1>Contact</h1>
                <p>
                    <a href="mailto:technunctus@iitjammu.ac.in">technunctus@iitjammu.ac.in</a><br>
                    Team Technunctus<br>
                    Indian Institute of Technology Jammu<br>
                    Jagti, NH-44 , PO Nagrota<br>
                    Jammu - 181221 J&K, India
                </p>
            </div>
            <div class="col footer-right">
                <h1>Connect</h1>
                <ul class="social-icons">
                    <a href="https://discord.com/invite/TCC8wB3HJz" target="_blank" ><i class="fab fa-discord" aria-hidden="true" style="font-size: 30px;"></i></a>
                    <a href="https://www.linkedin.com/company/technunctus-iit-jammu/" target="_blank" ><i class="fab fa-linkedin" aria-hidden="true" style="font-size: 30px; margin-left: 15px;"></i></a>
                    <a href="https://www.instagram.com/technunctus/" target="_blank" ><i class="fab fa-instagram" aria-hidden="true" style="font-size: 30px; margin-left: 15px;"></i></a>
                    <a href="https://www.facebook.com/TechnunctusIITJammu" target="_blank"><i class="fab fa-facebook" aria-hidden="true" style="font-size: 30px; margin-left: 15px; margin-right: 10px;"></i></a>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center white-text">
            <p style="margin: auto;">Made with <i class="material-icons" style="font-size: 14px;">favorite</i> by <a href="https://iamabhishek.live/" gtagEvent trackOn="clickAbhisProfile" target="_blank">Abhishek</a></p>
        </div>
    </div>
</footer>

