/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'New Tegomin', serif; }
.mat-typography, .mat-typography h1, .mat-typography h2, .mat-typography h3, .mat-typography h4{
    font-family: 'New Tegomin', serif !important;
}

body{overflow-x: hidden}

.cover{
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color:rgba(0, 0, 255, 0.77);
    z-index: 1;
    background-image: url(assets/dots.png), url(assets/lines.png);
    background-blend-mode: exclusion;
    filter: grayscale(100%);
    background-size: 100px, 200px;
}

.elementToFadeInAndOut {
    -webkit-animation: fadeinout 4s linear infinite;
    animation: fadeinout 4s linear infinite;
    opacity: 0;
}

@-webkit-keyframes fadeinout {
  50% { opacity: 1; }
}

@keyframes fadeinout {
  50% { opacity: 1; }
}